.App {
  text-align: center;
  height: 100vh;
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
  background: #EFF0F4;
  color: #495664;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 18px)
}

header {
  background: #D3D6DB;
  display: flex;
  justify-content: space-between;
}

header > * {
  padding: 10px;
}

header > button {
  font-family: inherit;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: white;
  background: #495664;
}

h1 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  margin: 0;
}