.buttons {
  position: relative;
  width: 100%;
}

.button {
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s;
  opacity: 0.75;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  outline: none;  
}

.button.active {
  opacity: 1;
}

.button.bottom {
  background: #E65C7B;
  clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
}

.bottom.active {
  margin-top: 10px;
}

.top.active {
  margin-top: -10px;
}

.left.active {
  margin-left: -10px;
}

.right.active {
  margin-left: 10px;
}

.button.top {
  background: #F9D00F;
  clip-path: polygon(50% 50%, 0% 0%, 100% 0%);
}

.button.right {
  background: #29C6CD;
  clip-path: polygon(50% 50%, 100% 0%, 100% 100%);
}

.button.left {
  background: #FF9000;
  clip-path: polygon(50% 50%, 0% 0%, 0% 100%);
}

.button.incorrect {
  transform: scale(0.75, 0.75);
  background: #DC3737;
}

@keyframes game-won-container {
  0% {
    transform: scale(1) rotate(3600deg);
  }

  50% {
    transform: scale(1.25) rotate();
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes game-won-button {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9) rotate(15deg);
    
  }

  50% {
    transform: scale(1, 1);
  }

  75% {
    transform: scale(0.9) rotate(15deg);
  }

  100% {
    transform: scale(1, 1);
  }
}