.button {
    margin: 20px;
    cursor: pointer;
}

.button__border {
    display: inline-block;
    border-radius: 50%;
    height: 120px;
    width: 120px;

}

.button__inner {
    height: 100px;
    width: 100px;
    margin: 10px;
    background: currentColor;
    border-radius: 50%;
}