.checkbox {
    height: 20px;
}

.checkbox__inner {
    box-sizing: border-box;
    border: 1px solid #495664;
    background: white;
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 2px;
    display: inline-block;
    margin-right: 0.25em;
}

.checkbox__label {
    line-height: 20px;
    display: inline-block;
}