.start-button {
    color: white;
    background: #36D1C4;
    height: 200px;
    width: 200px;
    cursor: pointer;
    font-size: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .4s;
    text-transform: uppercase;
}

.start-button:hover {
    background: #30c1b5;
}