.start-button {
    color: white;
    background: #A6ED8E;
    height: 50vmin;
    width: 50vmin;
    cursor: pointer;
    font-size: 10vmin;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .4s;
}

.start-button:hover {
    background: #62e662;
}