.start-button {
    color: inherit;
    position: absolute;
    z-index: 3;
    background: white;
    height: 200px;
    width: 200px;
    cursor: pointer;
    font-size: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .4s;
    border: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;  
}